<div class="container">
  <div class="row">

    <div class="col-md-6">
      <%= image_tag "madden.jpg", class: "img-responsive" %>
    </div>

    <div class="col-md-6">
      <h3><%= @game.name %> by <%= @game.genre %></h3>
      <p class="justify"><%= @game.description %></p>
      <h4 class="text-right">$<%= @game.price.to_f / 100 %></h4>
    </div>

  </div>
</div>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
